<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs") %>
    <main>
            
        <!--div>
            <aside>sdsda</aside>
        </div--->
        <section>
            <article class="container">
                <h1>Conheça o Transcriptus</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    At porro ab nulla. Excepturi quaerat tempora fugit perferendis sunt accusamus iusto.
                    Aliquid fugiat iusto eveniet, quo magni voluptatibus nisi deserunt hic?</p>
            </article>

            <article class="container">
                <h1>Conheça o Transcriptus</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    At porro ab nulla. Excepturi quaerat tempora fugit perferendis sunt accusamus iusto.
                    Aliquid fugiat iusto eveniet, quo magni voluptatibus nisi deserunt hic?</p>
            </article>

            <article class="container">
                <h1>Conheça o Transcriptus</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    At porro ab nulla. Excepturi quaerat tempora fugit perferendis sunt accusamus iusto.
                    Aliquid fugiat iusto eveniet, quo magni voluptatibus nisi deserunt hic?</p>
            </article>
        </section>
        <div class='secao'>
            <div class="container-fluid">
                <h2 style="color: blue;">obter verbete da palavra</h1>
                <input type="text" id="word_input" >
                <button id="genarate_random_word" >Gerar Verbete</button>
                <p id="verbete" style="font-size: 20px;justify-content: center;text-align: justify;"></p>
            </div>
        </div>
    </main>
    <hr>
    <footer>
        <p class="text">Transcriptus - Todos os direitos reservados</p>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>