<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Arquivos CSS -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Biblioteca de ícones -->
    <title>Transcritor Fonetico</title>
  </head>

  <body>
    <div class="container-lg ">
      <h1 class="title">TRANSCRIPTUS</h1>
      <div class="card shadow-lg">
        <div class="card-header bg-success text-white">
          <h2 class="animate__animated animate__fadeInDown">
            Mostrar pronúncia da palavra
          </h2>
        </div>

        <div class="card-body">
          <form method="POST" action="/text/save">
            <div class="form-group">
              <textarea
                name="text"
                id="texto"
                class="form-control animate__animated animate__fadeInUp"
                placeholder="Digite o texto aqui"
                required
              ></textarea>
              <div class="invalid-feedback">
                Por favor, insira um texto para resumir.
              </div>
              <br />
              <div class="text-center">
                <button class="btn btn-lg btn-success" type="submit">
                  <span
                    class="spinner-border spinner-border-sm mr-2 d-none"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Exibir Pronúncia
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer text-center d-none" id="success-message">
          <div class="alert alert-success mb-0">
            Texto transcrito com sucesso!
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
      const form = document.querySelector("form");
      const spinner = document.querySelector(".spinner-border");
      const successMessage = document.querySelector("#success-message");

      form.addEventListener("submit", (event) => {
        event.preventDefault();

        spinner.classList.remove("d-none");

        setTimeout(() => {
          spinner.classList.add("d-none");
          successMessage.classList.remove("d-none");
          setTimeout(() => {
            form.submit();
          }, 1500);
        }, 1000);
      });
    </script>
  </body>
</html>
